<div id="wrapper">
<h1></h1>
<p class="tagline">Make more words, get a bigger random!</p>

<div id="intro">
<h3>Make words using the letters you're given.</h3><h3>Use your keyboard, start typing, <br>hit "enter" to submit your word. <br>Hit "backspace" to go back.</h3><h3>It's <em>super fun!</em></h3>
<a href="#" class="start">start</a>

</div>

<div id="game">
<div class="availableLetters box">
<h2>Your Letters:</h2>
<ul></ul>
</div>

<div class="yourLetters box">
<h2>Your Word:</h2>

<ul></ul>
</div>

<div class="timerWrapper box">
:<span id="timer">60</span>
</div>

<ul class="yourWords">
</ul>

<div id="definitions">

</div>
</div>

<div id="ending">
<h3>It's over!  You got this many words:</h3>
<div id="score">12</div>
<h3 class="scoremessage"><strong>How'd you get so smart?</strong></h3>
<a href="#" class="start">play again</a>
<a href="#" class="share" style="display:none;">share</a>

<p class="footer">Made fun by <a href="http://simande.com" target="_blank">Eric Tarn</a> and <a href="http://matthewmooredesign.com" target="_blank">Matthew Moore</a>.</p>
</div>
</div>
<div id="isaword">YES!</div>
